# Shared
NODE_ENV=development

# Public origins
CLIENT_ORIGIN=http://localhost:3000
DASHBOARD_ORIGIN=http://localhost:3001
SERVER_ORIGIN=http://localhost:4000

# Backend
PORT=4000
MONGODB_URI=mongodb://localhost:27017/uztouragency
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
CSRF_SECRET=change-me-csrf
ENCRYPTION_KEY_BASE64=ZmFrZS1rZXktMzItYnl0ZXMtZmFrZS1rZXktMzI=
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_PUBLIC=uztour-public
S3_BUCKET_PRIVATE=uztour-private
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Admin123456!
REVALIDATE_SECRET=change-me-revalidate

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOCALE=ru

# Dashboard
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001
